{% extends 'charitydonation_app/base.html' %}
{% load widget_tweaks %}
{% block section %}
  <section class="login-page">
    <h2>Zmień hasło</h2>
    <form method="post">
      {% csrf_token %}
      <div class="input-profile">
        {{ form.old_password|attr:"placeholder:Stare hasło" }}
        {{ form.old_password.errors }}
      </div>
      <div class="input-profile">
        {{ form.new_password1|attr:"placeholder:Nowe hasło" }}
        {{ form.new_password1.errors }}
      </div>
      <div class="input-profile">
        {{ form.new_password2|attr:"placeholder:Powtórz nowe hasło" }}
        {{ form.new_password2.errors }}
      </div>

      {% if messages %}
        {% for message in messages %}
        {{ message }}
        {% endfor %}
      {% endif %}

      <div class="form-group form-group--buttons">
        <div></div>     
        <button class="btn" type="submit">Zmień hasło</button> 
      </div>
    </form>
  </section>
{% endblock section %}