{% extends 'charitydonation_app/base.html' %}
{% block section %}
  <section class="login-page">
    <h2>Ustawienia</h2>
    <form method="post">
      {% csrf_token %}
      <div class="input-profile">
        <label>Email</label>
        <input type="email" disabled placeholder="{{ user.email }}" />
      </div>
      <div class="input-profile">
        <label>Imie</label>
        {{ form.first_name }}
        {{ form.first_name.errors }}
      </div>
      <div class="input-profile">
        <label>Nazwisko</label>
        {{ form.last_name }}
        {{ form.last_name.errors }}
      </div>

      {% if messages %}
        {% for message in messages %}
        {{ message }}
        {% endfor %}
      {% endif %}
      
      <div class="form-group form-group--buttons">
        <a href="{% url 'change_password' %}" class="btn btn--without-border">Zmień hasło</a>      
        <button class="btn" type="submit">Zapisz zmiany</button> 
      </div>
    </form>
  </section>
{% endblock section %}